/* ABOUT page style */
header{
    position: relative;
    top: 0;
    z-index: 3;
    fill-opacity: 0;
    background-color: white;
}

 svg {
  display: block;
  position: relative;
}

picture img {
  position: fixed;
  top: 0;
  will-change: transform;
  width: 100%;
  height: 1280px;
  z-index: 0;
} 

.content{
    position: relative;
    top: 0;
    background-color: white;
    padding: 2em 9em 2em 14em;
    margin-bottom: -10px;
}

.content ul li{
    list-style-image: url(../images/listType1.png);
    
}

div ul li h3{
    padding: 0 0 0 0.3em;
    color: #ff1a1a;
    font-size: 2.5em;
    margin-top: 1em;
}

table{
 
    /* margin-right: 5em; */
   
    width: 100%;
    table-layout: fixed;
    display: table; 
    /* scroll not working bcs display block needed */
    /*overflow-y: scroll;*/
    border-collapse: collapse;
}

/* thead, tbody{
    display: block;
} */

/* tbody{
    display: block; 
    overflow-y: scroll;
    height: 100%;
    overflow-x: auto;
} */

table thead th{
    background-color: rgb(2, 24, 49);
    color: white;
    padding: 1em;/*same as cellspacing*/
    /* border-spacing: 5em;  not working properly */
    text-align: center;
}

tbody td{
    text-align: center;
}

tbody tr td:first-child{
    background-color: rgb(2, 24, 49);
    text-align: left;
    color: white;
    padding: 1em;
}

table tbody tr:nth-child(even){
    background-color: #f2f2f2;
}


table tbody tr:hover {
    background-color:rgba(168, 42, 42, 0.61);
}

#total{
    background-color: rgb(168, 42, 42);
}

/* 
table tbody tr td:first-child:hover{
    background-color:rgb(168, 42, 42);
} */
.table{
	 height: 400px;
     margin: auto;
     margin-top: 2em;
	 display: block;
	 overflow-y: scroll;
}

#work{
    margin-top: 1em;
    border-spacing: 10px;
    border-collapse: separate;
}

#work tr td{
    background-color: white;
    border: 1px solid gray;
    width: 300px;
    color: black;
    text-align: center;
}

#rating{
    width: 500px;
    margin-top: 1em;
}

#rating tr td{
    background-color: white;
    color: black;
    padding: 0.2em;
    text-align: right;
}

#rating tr td:nth-child(2){
    text-align: left;
}

progress::-webkit-progress-value{
    background: yellow;
    border-radius: 7px;
}

progress[value]::-webkit-progress-bar {
    background-color: yellow;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }

#pdf{
    margin:3em 0em 0em 42em;
}
#pdf input[type=button]{
    width: 250px;
    height: 50px;
    font-size: 15px;
    color: navy;
}